<% provide(:title, "My Events") %>

<h1>
  <%= @user.name %>'s Events
</h1>

<h3>
  My Hosted Events
</h3>
<% if @user.created_events.any? %>
  <% @user.created_events.each do |event| %>
    <h4>
      <%= "#{event.date.month}-#{event.date.day}-#{event.date.year}" %>
      <%= link_to event.title, event %>
    </h4>
  <% end %>
<% end %>

<h3>
  My Upcoming Events
</h3>
<% if @upcoming_events.any? %>
  <% @upcoming_events.each do |event| %>
    <h4>
      <%= link_to event.title, event %>
    </h4>
    <ul>
      <% unless event.description.empty? %>
        <li>Description: <%= event.description %></li>
      <% end %>
      <li>Date/Time: <%= event.date %></li>
      <li>Location: <%= event.location %></li>
    </ul>
  <% end %>
<% end %>

<h3>
  My Past Events
</h3>
<% if @past_events.any? %>
  <% @past_events.each do |event| %>
    <h4>
      <%= link_to event.title, event %>
    </h4>
    <ul>
      <% unless event.description.empty? %>
        <li>Description: <%= event.description %></li>
      <% end %>
      <li>Date/Time: <%= event.date %></li>
      <li>Location: <%= event.location %></li>
    </ul>
  <% end %>
<% end %>
