<div class="event">
  <h4>
    <%= link_to event.title, event %>
  </h4>
  <ul>
  <table>
    <tr>
      <td><b>Description</b></td> 
      <td>
        <% unless event.description.empty? %>
          <%= event.description %>
        <% else %>
          None
        <% end %>
      </td>
    <tr>
      <td><b>Date/Time</b></td> 
      <td><%= event.date %></td>
    </tr>
    <tr>
      <td><b>Location</b></td> 
      <td><%= event.location %></td>
    </tr>
    <tr>
      <td><b>Attendees</b></td>
      <td>
        <% if event.attendees.any? %>
          <% event.attendees.each do |attendee| %>
            <div><%= attendee.name %></div>
          <% end %>
        <% end %>
        </td>
      </tr>
  </table>
  </ul>
</div>