<% provide(:title, "All Events") %>

<h1> All Events </h1>

<h3> Upcoming Events </h3>
<% if Event.upcoming.any? %>
  <% Event.upcoming.each do |event| %>
     <h4>
      <%= event.title %>
     </h4>
     <p>
      Description:
      <%= event.description %>
     </p>
     <p>
     <p>
      Attendees:
      <% if event.attendees.any? %>
        <% event.attendees.each do |attendee| %>
          <%= attendee.name %>
        <% end %>
      <% end %>
     </p>
      Created by: 
      <%= User.find_by(:id => event.creator_id).name %>
     </p>
  <% end %>
<% end %>

<h3> Past Events </h3>
<% if Event.past.any? %>
  <% Event.past.each do |event| %>
     <h4>
      <%= event.title %>
     </h4>
     <p>
      Description:
      <%= event.description %>
     </p>
     <p>
     <p>
      Attendees:
      <% if event.attendees.any? %>
        <% event.attendees.each do |attendee| %>
          <%= attendee.name %>
        <% end %>
      <% end %>
     </p>
      Created by: 
      <%= User.find_by(:id => event.creator_id).name %>
     </p>
  <% end %>
<% end %>