<h1> All Events </h1>

<h2> Upcoming Events </h2>
<% if Event.upcoming.any? %>
  <% Event.upcoming.each do |event| %>
     <h3>
      <%= event.title %>
     </h3>
     <p>
      Description:
      <%= event.description %>
     </p>
     <p>
     <p>
      Attendees:
      <% if event.attendees.any? %>
        <% event.attendees.each do |attendee| %>
          <%= attendee.name %>
        <% end %>
      <% end %>
     </p>
      Created by: 
      <%= User.find_by(:id => event.creator_id).name %>
     </p>
  <% end %>
<% end %>

<h2> Past Events </h2>
<% if Event.past.any? %>
  <% Event.past.each do |event| %>
     <h3>
      <%= event.title %>
     </h3>
     <p>
      Description:
      <%= event.description %>
     </p>
     <p>
     <p>
      Attendees:
      <% if event.attendees.any? %>
        <% event.attendees.each do |attendee| %>
          <%= attendee.name %>
        <% end %>
      <% end %>
     </p>
      Created by: 
      <%= User.find_by(:id => event.creator_id).name %>
     </p>
  <% end %>
<% end %>