<h1><%= @event.title %></h1>

<h2>
  <b>Created by</b>: 
  <%= User.find_by(:id => @event.creator_id).name %>
</h2>

<table>
 <tr>
    <td><b>Description</b></td> 
    <td>
      <% unless @event.description.empty? %>
        <%= @event.description %>
      <% else %>
        None
      <% end %>
    </td>
  <tr>
  <tr>
    <td><b>Date/Time</b></td> 
    <td><%= @event.date %></td>
  </tr>
  <tr>
    <td><b>Location</b></td> 
    <td><%= @event.location %></td>
  </tr>
  <tr>
    <td><b>Attendees</b></td>
    <td>
      <% if @event.attendees.any? %>
        <% @event.attendees.each do |attendee| %>
          <div><%= attendee.name %></div>
        <% end %>
      <% end %>
      </td>
    </tr>
</table>

<% if correct_user?(@event) %>
  <h4 class="center">Invite users:</h4>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @invitation do |f| %>
        <%= hidden_field_tag("invitation[attended_event_id]", "#{@event.id}") %>
        <%= f.collection_select(:attendee_id, User.all, :id, :name) %>
        
        <%= f.submit 'Invite', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>