<h1>
  <%= @event.title %>
</h1>

<h2>
  Created by: 
  <%= User.find_by(:id => @event.creator_id).name %>
</h2>

<ul>
  <% unless @event.description.empty? %>
    <li>Description: <%= @event.description %></li>
  <% end %>
  <li>Date/Time: <%= @event.date %></li>
  <li>Location: <%= @event.location %></li>
</ul>

